/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.heading{
    background-color: #2D25A0;
    padding-top: 40px;
    height: 677px;
    width: 1300x;
}
.heading-title{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 50px;

}
nav{
    display: flex;
    justify-content: space-between;
   
}
nav a{
    text-decoration: none;
    margin: 20px; 
    color: white; 

}
.link-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 500;
    padding: 10px 20px;  
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.title-part{
    color: white;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 40px;

}

h1{
    font-weight: 800;
    font-size: 50px;
}
.title-part{
    color: white;
    
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 40px;

}
.banner{
    margin-right: 50px;
}
.banner img{
    width: 90%;
}
.fas{
    padding: 10px;
}
.fa-sign-in-alt{
    padding-right: 10px;
}

/* Players profile */
.profile-part{
    margin-left: 50px;
    margin-right: 100px;
    margin-top:70px;
}  
.players{
    margin-bottom: 18px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    padding: 12px;
} 
.player{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 350px;
    box-shadow: 0 0 5px 5px rgb(214, 214, 210);
    padding: 15px;   
}
.player-image img{
     width: 100%;
 }
.player-details{
    width: 350px;
    height: 150px;
}


/* --------highlights-part------ */
.highlights-part{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    margin-top: 120px;
    margin-left: 15px;
    margin-right: 10px;   
}
.summary{
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 50px;
}
.link-button2{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 500;
    padding: 10px 20px;   
}
.right-part{
    margin-right: 10px;
    margin-left: 5px;
}
.right-part img{
    width: 100%;
}


/* Footer part */
.footer-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.fab{
    padding-left: 20px;
}
.container:hover{
    background-color: mediumslateblue;
    
}
a:hover{
    background-color: mediumvioletred;
    font-size: 14px;
}

/* Mobile Devices  */
@media only screen and (max-width: 688px){
    .player{
        width: 100%;
        flex-direction: column;
    }
    .highlights-part, .container, .players{
        grid-template-columns: repeat(1, 1fr);   
    }
}
